# Slack Bot Configuration

# Debug mode (optional, set to "true" to enable debug logs)
export DEBUG=true

# Font Path (ttf)
export SLACK_BOT_FONT_PATH=$HOME/Library/Fonts/UDEVGothic35NFLG-Regular.ttf

export SLACK_BOT_LED_ADDR=127.0.0.1:50051

secret_file="$(git rev-parse --show-toplevel)/.env/secrets.sops.env"
if [ -f "${secret_file}" ]; then
  set -a
  source <(sops --decrypt "${secret_file}")
  set +a
fi
